{% extends "website/layout/base.twig" %}
{% block BodyContent %}
    {% include "website/layout/index.twig" %}
    {% block properties %}
        <div class="row">
            <div class="container properties">
                <h2 class="text-center">Available Properties </h2>
                <div class="property-carousel col-lg-12">
                    <div class="col-sm-4">
                        <div class="property">
                            <div class="property-image">
                                <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <h4 class="property-title">How to Clean White Items in your Home</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minima neque deleniti tempore cumque quos beatae corporis ipsum autem maxime. Saepe esse facere nostrum tempora aperiam, pariatur ut explicabo voluptatum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="property">
                            <div class="property-image">
                                <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <h4 class="property-title">Five Easy Ways to Give Back</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quia velit animi, optio iste aut. Assumenda modi impedit eius, sint pariatur perferendis dignissimos maxime expedita omnis rem alias voluptatum cupiditate...</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="property">
                            <div class="property-image">
                                <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <h4 class="property-title">Why is Spring Cleaning Important?</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse recusandae est necessitatibus officiis iste aliquam maiores fugiat accusamus dolorum! Maiores officia itaque eos, facere temporibus doloremque, id vitae quasi commodi.</p>
                        </div class="property">
                    </div>
                    <div class="col-sm-4">
                        <div class="property">
                            <div class="property-image">
                                <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <h4 class="property-title">How to Clean White Items in your Home</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugit, ex deserunt, eaque id voluptatum eius. Dolor minus iste unde ratione enim quam aliquam odit quasi, provident qui, doloribus ea?</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="property">
                            <div class="property-image">
                                <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <h4 class="property-title">Five Easy Ways to Give Back</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus accusamus similique reprehenderit, eius ex dignissimos hic necessitatibus. Animi libero, inventore ipsa! Velit minima possimus earum minus assumenda sit porro!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock properties %}
{% endblock BodyContent %}

