{% extends "website/layout/base.twig" %}

{% block BodyContent %}
        <main class="page-body">
            <div class="row page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li>Properties</li>
                    </ul>
                </div>
            </div> 
            <div class="row">
                <div class="container properties">
                    <h2 class="text-center">Available Properties </h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="property">
                                <div class="property-image">
                                    <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                </div>
                                <h4 class="property-title">How to Clean White Items in your Home</h4>
                                <p>Traditionally, whites are to be saved for after Memorial Day, however some believe that they can be worn once spring arrives.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="property">
                                <div class="property-image">
                                    <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                    <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <h4 class="property-title">Five Easy Ways to Give Back</h4>
                                <p>Do you want to make a difference but don’t know where to start? Or maybe you’re unsure if you have the time? Luckily, giving back does not always have to require...</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="property">
                                <div class="property-image">
                                    <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                    <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <h4 class="property-title">Why is Spring Cleaning Important?</h4>
                                <p>Spring Cleaning started as a way to clean away Winter’s mess. In those days, homes were heated by fires, and doors were...</p>
                            </div class="property">
                        </div>
                        <div class="col-sm-4">
                            <div class="property">
                                <div class="property-image">
                                    <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                    <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <h4 class="property-title">How to Clean White Items in your Home</h4>
                                <p>Traditionally, whites are to be saved for after Memorial Day, however some believe that they can be worn once spring arrives.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="property">
                                <div class="property-image">
                                    <img src="http://via.placeholder.com/330x204/333/fff.png" alt="">
                                    <a href="#" class="property-link"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <h4 class="property-title">Five Easy Ways to Give Back</h4>
                                <p>Do you want to make a difference but don’t know where to start? Or maybe you’re unsure if you have the time? Luckily, giving back does not always have to require...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock BodyContent %}
   
{% block script %}

{% endblock script %}
        