{% block BodyContent %}
                                                                                                                                                                                                                                    
        <main class="page-body">
            <div class="row">
                <div class="service">
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="editable">About Our Company</h2>
                        </div>
                    </div>
                    <div class="row about">
                        <div class="col-6">
                            <img src="http://via.placeholder.com/800x400/333" class="img-fluid" alt="About Us">
                        </div>
                        <div class="col-6 pr-5">
                            <h3 class="editable">More than 10 years of cleaning experience</h3>
                            <p class="editable">Kleentask Limited, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam rem dolorem iusto deserunt sed. Dolorum modi optio iure blanditiis similique! Vitae, expedita hic velit tenetur explicabo provident eos rerum minima..</p>
                            <p class="editable">Our service is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ad natus deleniti illo nesciunt, possimus facilis perferendis. Harum amet doloremque architecto officiis, sed magnam quisquam quam illo, accusantium odit veritatis!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--about text block with icons -->
            <div class="row">
                <div class="container vision">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="editable">Our Missionn</h2>
                            <div class="text-icon-hor">
                                <div class="text-icon-hor-icon">
                                    <i class="fa fa-bullseye"></i>
                                </div>
                                <div class="text-icon-hor-text editable">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum laudantium ratione asperiores repellat laboriosam eveniet molestias aliquam iure quis sequi doloribus maxime tempora quae laborum, quidem ut dolor consequuntur totam.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h2 class="editable">Our Vision</h2>
                            <div class="text-icon-hor">
                                <div class="text-icon-hor-icon">
                                    <i class="fa fa-trophy"></i>
                                </div>
                                <div class="text-icon-hor-text editable">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse eos molestias amet nobis accusantium, sunt harum, fugiat dicta unde vero, veniam incidunt quaerat est vel officia adipisci dolor hic!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container team">
                    <h2 class="text-center">Our Team</h2>
                    <p class="text-center editable">Cleaning Company is a minority owned business with a large group of specially trained, dedicated employees to provide professional service with a personal touch.</p>
                    <div class="row ">
                        <div class="col-sm-4">
                            <div class="team-img">
                                <img src="http://via.placeholder.com/200/333" alt="Personal">
                            </div>
                            <h3 class="team-name editable">Alan Yarbrough</h3>
                            <h6 class="team-position editable">Managing Director</h6>
                            <div class="team-divider"></div>
                            <p class="team-text editable">Alan started in 1985 and provides the leadership needed to maintain our reputation and goodwill in the community. </p>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-img">
                                <img src="http://via.placeholder.com/200/333" alt="Personal">
                            </div>
                            <h3 class="team-name editable">Wilford Wood</h3>
                            <h6 class="team-position editable">Customer Service Manager</h6>
                            <div class="team-divider"></div>
                            <p class="team-text editable">He is the direct “pipeline” to our customers to ensure they are being heard and their special needs are being met. </p>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-img">
                                <img src="http://via.placeholder.com/200/333" alt="Personal">
                            </div>
                            <h3 class="team-name editable">Teresa Phillips</h3>
                            <h6 class="team-position editable">Office Administrator</h6>
                            <div class="team-divider"></div>
                            <p class="team-text editable">Teresa joined our team in 2009. She brings a wealth of knowledge and experience in the accounting field.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
                                                                                                                                                            {% endblock BodyContent %}